@media only screen and (max-width: 768px) {
    #home{
        z-index: 2;
    }

    #loader .reveal{
        font-size: 40px;
        top: 42%;
    }
    #mainhome{
        
        flex-direction: column;
        padding-top: 50px;
        


    }
    #mainhome #left{

        
        height: 40vh;
        width: 100vw;
    }
    #mainhome #right{
        height: 60vh;
        width: 100vw;

    }
    .rows h1{
        font-size: 18vw;
        
        
      }
      #mainwords2{
        padding-top: 20px;

      }
    .rows svg
    {
        height: 15vh;
    }
   
    canvas{
        z-index: 1;
        padding: 0;
    }
    #home #nav{
        height: 60px;
        
    }
    #removenav{
        display:none

    }
    .title{
        font-size: 6vw;
        padding-top: 20px;
        
    }
    .title h1{
        padding-top: 10px;
    }
    .title svg{
        height: 30px;

    }
    #skills{
        flex-direction: column;
        height: 130vh;
        
    }
    #skillsliner{
        
        width: 100%;

    }
    #skillsliner #box{
        height: 50vh;
        width: 100%;
        justify-content: center;
    }
    #skillsliner #box #skillnames h1{
        width:30%;
        font-size: 17px;
    }
    #aboutme{
        height: 70vh;
        width: 100%;
        font-size: 13px;
        padding-top: 55px;
        text-align: left;
        letter-spacing: 1px;
        }
        #workrow h1{
            font-size: 40px;
            font-weight: 600;
            padding-top: 20px;
          }
          #workrow svg{
            height: 30px;

          }
    #mini{
        font-size: 20px;
    }
    
}
        



