@media only screen and (max-width: 600px) {
    body{
        overflow-x: hidden;
    }
    #home{
        z-index: 2;
        height: 560vh;
    }

    #loader .reveal{
        font-size: 40px;
        top: 42%;
    }
    #mainhome{
        
        flex-direction: column;
        padding-top: 50px;
        


    }
    #mainhome #left{

        
        height: 40vh;
        width: 100vw;
    }
    #mainhome #right{
        height: 60vh;
        width: 100vw;

    }
    .rows h1{
        font-size: 18vw;
        
        
      }
      #mainwords2{
        padding-top: 20px;

      }
    .rows svg
    {
        height: 15vh;
    }
   
    canvas{
        z-index: 1;
        padding: 0;
    }
    #home #nav{
        height: 60px;
        
    }
    #removenav{
        display:none

    }
    .title{
        font-size: 6vw;
        padding-top: 20px;
        
    }
    .title h1{
        padding-top: 10px;
    }
    .title svg{
        height: 30px;

    }
    #skills{
        flex-direction: column;
        height: 130vh;
        
    }
    #skillsliner{
        
        width: 100%;

    }
    #skillsliner #box{
        height: 50vh;
        width: 100%;
        justify-content: center;
    }
    #skillsliner #box #skillnames h1{
        width:30%;
        font-size: 17px;
    }
    #aboutme{
        height: 70vh;
        width: 100%;
        font-size: 13px;
        padding-top: 55px;
        text-align: left;
        letter-spacing: 1px;
        }
        #workrow h1{
            font-size: 40px;
            font-weight: 600;
            padding-top: 20px;
          }
          #workrow svg{
            height: 30px;

          }
    #mini{
        font-size: 20px;
    }
    #works #images{
        width: 100%;
        

    }
    #cnt{
        width: 100%;
        height: 100%;
    }
    #images h1{

        padding: 2.5vw;
        font-size: 12px;
    }

    #circle{
        width: 150vh;
        height: 100vh;
        left:-88vh;
        top:60%
        
    }
    .sec h1{
        font-size: 30px;

    }
    .sec h2{
        font-size: 15px;
    }
    .sec{
        opacity: 0;
        
    }
    .str1{
        padding-left: 90px;
    }
    .str2{
        padding-left: 40px;
    }
    .str5{
        padding-right: 230px;
        
    }
    .str4{
        padding-right: 200px;
        padding-top: 0;
    }
    footer{
        font-size: 6px;
    }
    
}
        



