
@font-face {
  font-family: 'bs';
  src: url("/bs.ttf") format('woff');
      

}

@font-face {
  font-family: 'lr';
  src: url("/LiberRegular.ttf") format('woff');
      

}
@font-face {
  font-family: 'elegant';
  src: url("/elegant.ttf") format('woff');
      

}


*{
  margin:0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'bs';
  font-weight: 600;
}
html,body{
  height: 100%;
  width: 100%;
} 
 /* #cursor{
  height: 20px;
  width: 20px;
  background-color: rgba(255, 255, 255, 0.658);
  border-radius: 50%;
  position:fixed;
  
  
} */
/* #cursor-b{
  height: 200px;
  width:200px;
  background-color: rgba(255, 255, 255, 0.658);
  border-radius: 50%;
  position:fixed; 
  filter: blur(130px);

}
*/ 
embed{
  display: none;
}
#loader{
  position: absolute;
  width: 100%;
  height:100vh ;
  background-color:rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  z-index: 3;
  position: fixed;
}
#loader .reveal{
  display: block;
  position:absolute;
  top:50%;
  left: 50%;
  transform:translate(-50%,-50%);
  font-size: 5vw;
  font-weight: 700;
  width:max-content;
  
}
/* #numbers{
  color: red;
} */
.maz{
  font-family: 'lr';
  display: inline-block;
  color: #14ff16;
  
  
}
.reveal .parent{
 
  overflow-y: hidden;
  display: block;
}
.reveal .parent .child{
  display: block;

 
}
.reveal .parent .child span{
  
  font-size: 30vw;
}

#green{
  width: 100vw;
  position: absolute; 
  top: 300px; 
  height: 0;
  background-color: #14ff16;
  z-index: 3;
  overflow: hidden;
}
/* nav bar */
#home #nav{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:0 5vw;
  width: 100%;
  height: 100px;
  
}

#nav a{
  text-decoration: none;
  text-transform: uppercase;
  font-weight:900 ;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.945);
  position: relative;
 
 
}
#nav a .line{
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.945);
  position:absolute;
  bottom: 0;
  right:0;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  
}
#nav a:hover .line{
  width: 0;
  
}

#container3D {
  display: flex; 
  justify-content: center;
  align-items: center;
  

}

canvas{
  margin-top: 9vw;
  height: 100px;
  width: 300px;
}

#home{
  
  height: 1080%;
  width: 100%;
  color: rgba(255, 255, 255, 0.945);
  background-color: rgba(0, 0, 0, 0.911);
  position:relative
}


/* Main landing page */
#mainhome{
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  
  padding: 0 2vw;
  /* line-height: 1; */
  padding-right: 3vw;
  margin-top: 2vw;
  height: 100vh;
  
}
#mainhome #left{
  width: 56vw;
  height: 100vh;
  flex-direction: column;
  padding-left: 4vw;
}
#mainhome #right{
  width: 44vw;
  height: 100vh;
 
  
}
.rows h1{
  font-size: 9vw;
  font-weight: 500;
  
  
}

.rows svg{
  padding-left: 8vw;
  height: 17vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  
 
}
path, polyline{
  stroke:#14ff16;
 
  
}
/* .rows svg:hover path {
  stroke: rgb(147,84,255)
}
.rows svg:hover polyline{
  stroke: rgb(147,84,255)
  
} */







/* Work page */

#works #workrow{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7vw 7vw;
}
#workrow h1{
  font-size: 8vw;
  font-weight: 600;
}
.o-ui-arrow{
  transform: rotate(90deg);
  /* width: 20vw; */
  
}
#mini{
  font-size: 2vw;
  

}
#images{
 
  width: 100%;
  flex-direction: column;
  
  padding: 4vw 2vw;
  display: flex;
  justify-items: center;
  align-items: center;
  
}
#images h1{
  font-size: 2vw;
  padding: 2vw 12vw;
}
#images h1 span{
  font-family: 'lr';
  color: #14ff16;
}
#cnt{
  
  width:70%;
  overflow: hidden;
  height: 100vh;
  border-radius: 50px;
}
#cnt img{
  width:100%;
  
}



/* Timeline and history */
#timeline{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
#circle{
  position:absolute;
  left:-75vh;
  top: 50%;
  transform: translate(0%,-50% ) ;
  border-radius: 50%;
  width: 150vh;
  height: 150vh;
  border:2px solid #14ff16

}
.stripe{
  width: 160vw;
  height: 25vh;

  top:38%;
  left: 50%;
  position:absolute;
  transform: translate(0, 50%);
  transform-origin: 0% 50%;
  display: flex;

}
.str1{
  transform: translate(0, 50%) rotate(-60deg);

}
.str2{
  transform: translate(0, 50%) rotate(-30deg);

}
.str4{
  transform: translate(0, 50%) rotate(30deg);

}
.str5{
  transform: translate(0, 50%) rotate(60deg);

}
.first{
  width: 25%;
  height: 100%;
 
}
.sec{
  width: 50%;
  height: 100%;
  opacity: .1;



}

.sec h1{
  font-size: 3.2vw;
  text-align: left;
  display:inline-block;
  padding-right: 20vw;
}
.sec h2{
  padding-top: 5px;
  font-size: 1.7vw;
 
}

#panel{
  position: absolute;
  
  width: 5vw;
  height: 30vh;
  right: 3vh;
  top:42%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.mncircle{
  height: 2vw;
  width: 2vw;
  opacity: 0.1;
  border-radius: 50%;
  background-color: #14ff16;

}

/* my skills */

#skills{
  width: 100%;
  height: 100vh;
  display: flex;
  text-align: center;
  
}
#skills span{
  color: #14ff16;
  font-family: 'lr';
}

#skillsliner{
  height: 100%;
  width: 50vw;
  
  
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
#skillsliner #box{
  display: flex;
  flex-direction: column;
  border: 2px solid #14ff16;
  padding: 3vw;
  height: 80vh;
  width: 45vw;
  border-radius: 20%;
  
}

#skillsliner #box #skillnames{
  display: flex;
  padding: .5vw;

}

#skillsliner #box #skillnames h1{
  width:30%;
  text-align: left;
  font-size: 1.7vw;
  font-family: 'elegant';

}

#skillsliner #box #skillnames #skillpercent{
  width:70%;
  border: 5px solid rgba(255, 255, 255, 0.945); 
  border-radius: 30%;
  
}
#percentcolor{
  width: 0;
  background-color: #14ff16;
  border-radius: 10%;
  height:100%;
}
#aboutme{
  height: 100vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vw;
  font-size: 1.2vw;
  letter-spacing: 1.5px;
  

}
.title{
  font-size: 4vw;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  padding: 5vw 7vw;
  letter-spacing: 1px;
}
.title svg{
  margin-top: 3vw;
}
footer{
  width: 100%;
  height: 40px;
  font-size: 3vw;
  display: inline-block;
  font-size: 1vw;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  
}
#email{
  color: rgba(255, 255, 255, 0.945);
}