
@font-face {
  font-family: 'bs';
  src: url("/bs.ttf") format('woff');
      

}

@font-face {
  font-family: 'lr';
  src: url("/LiberRegular.ttf") format('woff');
      

}

*{
  margin:0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'bs';
  font-weight: 600;
}
html,body{
  height: 100%;
  width: 100%;
} 
/* #cursor{
  height: 20px;
  width: 20px;
  background-color: rgba(255, 255, 255, 0.658);
  border-radius: 50%;
  position:fixed;
  
}
#cursor-b{
  height: 200px;
  width:200px;
  background-color: rgba(255, 255, 255, 0.658);
  border-radius: 50%;
  position:fixed; 
  filter: blur(130px);

}
*/

#loader{
  position: absolute;
  width: 100%;
  height:100vh ;
  background-color:rgb(0, 0, 0);
  color: rgba(255, 255, 255, 0.945);
  z-index: 3;
}
#loader .reveal{
  display: block;
  position:absolute;
  top:50%;
  left: 50%;
  transform:translate(-50%,-50%);
  font-size: 5vw;
  font-weight: 700;
  width:max-content;
  
}
/* #numbers{
  color: red;
} */
.maz{
  font-family: 'lr', cursive;
  display: inline-block;
  color: #14ff16;
  
  
}
.reveal .parent{
 
  overflow-y: hidden;
  display: block;
}
.reveal .parent .child{
  display: block;

 
}
.reveal .parent .child span{
  
  font-size: 30vw;
}

#green{
  width: 100vw;
  position: absolute; 
  top: 300px; 
  height: 0;
  background-color: #14ff16;
  z-index: 3;
  overflow: hidden;
}

#home #nav{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:0 5vw;
  width: 100%;
  height: 100px;
  
}
#nav a{
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.945);
  position: relative;
 
 
}
#nav a .line{
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.945);
  position:absolute;
  bottom: 0;
  right:0;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  
}
#nav a:hover .line{
  width: 0;
  
}

#container3D {
  display: flex; 
  justify-content: center;
  align-items: center;
  

}

canvas{
  margin-top: 9vw;
  height: 100px;
  width: 300px;
}

#home{
  
  height: 400vh;
  width: 100%;
  color: rgba(255, 255, 255, 0.945);
  background-color: rgba(0, 0, 0, 0.911);
}



#mainhome{
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  
  padding: 0 4vw;
  /* line-height: 1; */
  padding-right: 3vw;
  margin-top: 2vw;
  
}
#left{
  width: 56vw;
  height: 100vh;
  flex-direction: column;
  padding-left: 4vw;
  
  

}
#right{
  width: 44vw;
  height: 100vh;
 
  
}
.rows h1{
  font-size: 7vw;
  font-weight: 500;
  
}

.rows svg{
  padding-left: 7vw;
  height: 14vw;
 
}
path, polyline{
  stroke:#14ff16;
 
  
}
.rows svg:hover path {
  stroke: #8bfa8d;
}
.rows svg:hover polyline{
  stroke: #8bfa8d;
  
}
.rows h1:hover h1{
  color: #8bfa8d;
}

#works #workrow{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12vw;
}
#workrow h1{
  font-size: 8vw;
  font-weight: 600;
}
.o-ui-arrow{
  transform: rotate(90deg);
  /* width: 20vw; */
  
}
#mini{
  font-size: 2vw;
  

}
#images{
 
  width: 100%;
  position: relative;
  padding: 4vw 2vw;
  
}
#cnt{
  
  width:60%;
  overflow: hidden;
  height: 80vh;
  border-radius: 50px;
}
#cnt img{
  width:105%;
  
}


